@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai+Looped&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

body {
  background-color: #0CB594;
  width: 100%;
  margin: 50;
}

.search-bar{
  width: 80%;
  height: 66px;
  background-color: #D9D9D9;
  border-radius: 50px;
  margin: 0 64px 0 46px;
  display: flex;
  align-items: center;
}

.search-bar p{
  font-size: 30px;
  margin: 50px;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 50px;
  display: flex;
  align-items: center;
  color: #402CBF;
}

header{
  display: flex;
  align-items: center;
  margin: 30px 50px;
}

.hero-title{
  background-color: #FFD01E;
  color: #FFFFFF;
  font-family: 'Kumbh Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 96px;
  line-height: 20px;
  height: 120px;
  display: flex;
  align-items: center;
  padding: 0px 50px;
  margin: 0 0 30px 0;
}

.img-hero {
  display: flex;
  justify-content: center;
}

.img-hero img {
  width: 75%;
}

.categories{
  background-color: #5C4BC9;
  color: #FFFFFF;
  font-family: 'Kumbh Sans', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 20px;
  height: 49px;
  display: flex;
  align-items: center;
  padding: 0px 50px;
  margin-bottom: 30px;
}

.game-card{
  width: 70%;
  /* background-color: red; */
  margin-right: 20px;
}

.game-card-big{
  width: 100%;
}
.game-card-big img{
  width: 100%;
}

.game-card img{
  width: 100%;
}

.games-container{
  margin-left: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.carrousel{
  display: flex;
}

footer{
  /* height: 348px; */
  background-color: #5C4BC9;
  display: flex;
  justify-content: space-between;
  padding: 0 100px 30px;
  margin: 30px 0 0 0 ;
}
ul{
  margin: 0;
  padding: 0;
}
footer ul li{
  padding: 5px 0;
  list-style: none;
  color: #FFFFFF;
  text-decoration: underline;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  /* line-height: 0px; */
}

.footer-title{
  padding-top: 30px;
  text-decoration: none;
  font-family: 'Kumbh Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 20px;
}

.comunity { 
  display: flex;
  justify-content: center;
}

.comunity li img{
  padding: 15px;
}

.comunity li{
  text-align: center;
}

/* hero */

.bodyHero{
  background-color: #1E1E1E;
  width: 100%;
  margin: 0px;
  overflow-x: hidden;
}

.headerHero{
  width: 100%;
  background-color: #1E1E1E;
  margin-bottom: 0px;
}

.menuHamburguer{
  opacity: 0;
  width: 0rem;
  position:absolute;
  top: 0px;
  right: 0px;
  height: 857px;
}

.menuHamburguer{
  transition: all .2s ease-in;
}

.userSection, .buttonsMenuSection, .shareAccount{
  display: none;
}


.menuHamburguer.open{
  opacity: 1;
  position:absolute;
  top: 0px;
  right: 0px;
  z-index: 1;
  width: 45rem;
  height: 857px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #0CB594;
}

.userSection.open{
  opacity: 1;
  width: 45rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 194px;
  margin-bottom: 28px;
  margin-left: 21px;
  font-family: 'IBM Plex Sans Thai Looped';
  font-style: normal;
  font-weight: 4200px;
  font-size: 29.7931px;
  line-height: 49px;
  color: #FFFFFF;
}

.buttonsMenuSection.open{
  opacity: 1;
  width: 45rem;
  height: 411px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.buttonsMenuSection.open > button{
  background-color: #402CBF;
  border-color: #402CBF;
  color: #fff;
  background-image: linear-gradient(45deg, #7421BB 50%, transparent 50%);
  background-image: linear-gradient(45deg, #7421BB 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 450ms ease-in-out;
  transition: background 450ms ease-in-out;
  width: 200px;
  height: 60px;
  border-radius: 75px;
  margin-bottom: 34px;
}

.buttonsMenuSection.open > button:hover{
  background-position: 0;
}

.menuHamburguer.open > hr{
  height: 0px;
  width: 100%;
  border: 1px solid #000000;
  margin-bottom: 13px;
}

.shareAccount.open{
  opacity: 1;
  margin-top: 0px;
  width: 720px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shareAccount.open > p{
  margin-top: 0px;
  margin-bottom: 44px;
  font-family: 'IBM Plex Sans Thai Looped';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 53px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #FFFFFF;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.shareAccount.open > div{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 122px;
}

.hamburguer{
  position: absolute;
  right: 62px;
  z-index: 2;
  height: 56px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0px;
}


.hamburguer > span{
  width: 74.67px;
  height: 9.34px;
  background-color: #402CBF;
}

.hamburguer > span:not(:last-child){
  margin-bottom: 7px;
}

.hamburguer, .hamburguer > span{
  transition: all .2s ease-in-out;
}

.hamburguer.active{
  transition-delay: .2s;
  transform: rotate(45deg);
}

.hamburguer.hamburguer.active > span:nth-child(2){
  width: 0;
}

.hamburguer.hamburguer.active > span:nth-child(1),
.hamburguer.hamburguer.active > span:nth-child(3){
  transition-delay: .2s;
}

.hamburguer.hamburguer.active > span:nth-child(1){
  transform: translateY(21px);
}

.hamburguer.hamburguer.active > span:nth-child(3){
  transform: translateY(-21px) rotate(90deg);
}



.titleHero-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.titleHero{
  font-family: 'Lato';
  font-style: normal;
  Font-size: 8rem;
  Line-height: 153.6px;
  Line-height: 100%;
  color: #B4B4B4;
  margin-top: 0px;
  margin-bottom: 0px;
}

.subTitleHero{
  font-family: 'Lato';
  font-style: normal;
  Font-size: 4rem;
  Line-height: 76.8px;
  Line-height: 100%;
  color: #B4B4B4;
  margin-top: 0px;
  margin-bottom: 47px;
}

.changeColorTitle{
  color: #CC0000;
}

.available{
  background-color: #CC0000;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 82px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 3rem;
  line-height: 58px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F7F7F7;
}

.imageHero{
  width: 100%;
}

.sectionHero{
  background-color: #CC0000;
  width: 100%;
  color: #F7F7F7;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800px;
  font-size: 4rem;
  line-height: 77px;
  display: flex;
  align-items: center;
  text-align: center;
}

.parrafoHero{
  margin-left: 6px;
  margin-right: 6px;
}

.sectionCardsTeams{
  width: 100%;
  height: 470px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

.card, .card-renault{
  margin-top: 30px;
  height: 470px;
  margin-right: 40px;
  margin-left: 0px;
}

.card-renault{
  margin-right: 0px;
}

.sectionHeroDescripcion{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800px;
  font-size: 64px;
  line-height: 77px;
  display: flex;
  align-items: center;
  text-align: center;  
  color: #F7F7F7;
}


.descripcionHero{
  margin-left: 50px;
  margin-right: 50px;
}

.title-features{
  height: 5.125rem;
  width: 100%;
  background-color: #CC0000;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800px;
  font-size: 64px;
  line-height: 77px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #F7F7F7;
}

.features{
  width: 90.5rem;
  height: 79px;
  color: #F7F7F7;
  margin-left: 170px;
  margin-right: 160px;
}

.cards-features{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-features-item-left, .card-features-item-right{
  height: 470px;
  width: 294px;
}

.card-features-item-left{
  margin-right: 101px;
}

.card-features-item-right{
  margin-left: 101px;
}

.card-left > p{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800px;
  font-size: 64px;
  line-height: 77px;
  color: #F7F7F7;
}

.card-right > p{
  font-family: 'Lato';
  font-style: normal;
  font-weight: 800px;
  font-size: 64px;
  line-height: 77px;
  text-align: right;
  color: #F7F7F7;
}

.card-left{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-left: 8px;
  margin-top: 11px;
  margin-bottom: 30px;
}

.card-right{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content:flex-end;
  margin-right: 8px;
  margin-top: 11px;
  margin-bottom: 30px;
}

.hrHero{
  width: 100%;
  border: 1px solid #CC0000;
  margin-bottom: 0px;
}

